.copyright {
    /* font-size: 80px; */
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 10px #ff0000, 0 0 10px #00ff0d, 0 0 10px #c8ff00, 0 0 10px #08fc00, 0 0 10px #ffffff, 0 0 10px #1ffc18, 0 0 10px #22ff05;
  }